 /*rooms*/
 .video-background {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
     z-index: -1;
 }

 .img-tant {
     height: 500px;
     object-fit: cover;
 }

 /*.banner-header2 {*/
 /*       height: 500px;*/
 /*}*/